:root {
  --ifm-color-primary: #2457c5;
  --ifm-color-primary-dark: #204eb1;
  --ifm-color-primary-darker: #1e49a7;
  --ifm-color-primary-darkest: #193c8a;
  --ifm-color-primary-light: #3264d3;
  --ifm-color-primary-lighter: #3b6bd5;
  --ifm-color-primary-lightest: #5a82dc;
}
